/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
	height: 100%; 
	background-color: #e5e5e5;
}

body div.page {
	background-color: #ffffff;
	box-shadow: 0 0 5px #d0d0d0;
	margin-left:auto;
	margin-right:auto;
	max-width: 1044px;
	width: 96%;
}

.row { margin: 15px; }

/* Only one footer per page is permitted */
#page-footer {
  font-size: 80%;
  background-color: #2b2b2b;
  color: #ffffff;
  border-top: 4px solid #eee;
  overflow: hidden;
}

/* Only one copyright element per page is permitted */
#page-copyright { 
	background-color: #000000;
	color: #ffffff;
	font-family: "Fjalla One", Verdana, Geneva, sans-serif;
	font-size: 70%;
	font-weight: bold;
	line-height: 1.5em;
	padding: 1.2em 0;
	text-align: center;
	text-transform: uppercase;
}
