<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
		<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">		
		
		<!-- JavaScript libraries -->
		<script type="text/javascript" src="/js/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="/js/bootstrap.js"></script>

    </head>
    <body>
		<div class="page">
			<div class="container">
				<div class="row" style="margin-left: 0px;">
					<a href="/"><img src="/img/okcnerdygirls_logo.png" alt="{{ site.name }}" /></a>
				</div>
				
				<div class="row">{{ content }}</div>
			</div>
			<div id="page-footer" class="container">
				<div class="row">
					<div class="contact">
						<p>
							Your Name<br />
							What You Are<br />
							your@email.com
						</p>
					</div>
					<div class="contact">
						<p>
							<a href="http://github.com/yourusername/">github.com/yourusername</a><br />
							<a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
						</p>
					</div>
				</div>
			</div>
			<div id="page-copyright" class="container">
				© OKC Nerdy Girls
			</div>
		</div>
    </body>
</html>
